NODE_ENV=development
PORT=3000

DATABASE_URL=""
POSTGRES_URL=""
PRISMA_DATABASE_URL=""

JWT_ACCESS_SECRET='super-long-random-string-super-long-random-string'
JWT_REFRESH_SECRET='another-super-long-random-string-super-long-random-string'

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

SENTRY_DSN=https://<key>@<org>.ingest.sentry.io/<project>